@model DerethForever.Web.Models.Weenie.IndexModel

@{
    ViewBag.Title = "Weenie Search";
}

<br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">
        <h4>Weenie Search</h4>
        <hr />
        
        @Html.DisplayFor(m => m, "InfoMessages")

        <div class="form-group">
            <label class="control-label col-md-2" for="Criteria_PartialName">Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Criteria.PartialName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Criteria.PartialName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Criteria_WeenieClassId">Weenie Id</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Criteria.WeenieClassId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Criteria.WeenieClassId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Criteria_ItemType">Item Type</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Criteria.ItemType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Criteria.ItemType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Criteria_WeenieType">Weenie Type</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Criteria.WeenieType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Criteria.WeenieType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>

    </div>
    <hr/>

    if (Model.ShowResults)
    {
        if (Model.Results != null)
        { 
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width: 65px;">Actions</th>
                        <th style="width: 50px;">Done</th>
                        <th style="width: 80px;">Weenie Id</th>
                        <th style="width: 150px;">Name</th>
                        <th style="width: auto;">Description</th>
                        <th style="width: 95px;">Item Type</th>
                        <th style="width: 95px;">Weenie Type</th>
                        <th style="width: 110px;">Last Modified</th>
                        <th style="width: 95px;">Modified By</th>
                        <th style="width: 75px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Results.Count == 0)
                    {
                        <tr><td colspan="8" align="center">No results.</td></tr>
                    }
                    @{
                        foreach (var weenie in Model.Results)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", "Weenie", new {id = weenie.WeenieClassId})">
                                        <span class="glyphicon glyphicon-edit" title="Edit"></span>
                                    </a>
                                    <a href="@Url.Action("Clone", "Weenie", new {id = weenie.WeenieClassId})">
                                        <span class="glyphicon glyphicon-copy" title="Clone"></span>
                                    </a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a href="@Url.Action("Delete", "Weenie", new { id = weenie.WeenieClassId })">
                                            <span class="glyphicon glyphicon-remove" title="Delete"></span>
                                        </a>
                                    }
                                </td>
                                <td align="center">
                                    @if (weenie.IsDone)
                                    {
                                        <span class="glyphicon glyphicon-check" title="Done"></span>
                                    }
                                </td>
                                <td>
                                    @weenie.WeenieClassId.ToString()
                                </td>
                                <td>
                                    @weenie.Name
                                </td>
                                <td>
                                    @weenie.Description
                                </td>
                                <td>
                                    @weenie.ItemType
                                </td>
                                <td>
                                    @weenie.WeenieType
                                </td>
                                <td>
                                    @weenie.LastModified
                                </td>
                                <td>
                                    @weenie.ModifiedBy
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-download" title="Download"></span>&nbsp;&nbsp; <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("DownloadOriginalToPhatJson", "Weenie", new {id = weenie.WeenieClassId})">Original, GDLE JSON</a></li>
                                            <li><a href="@Url.Action("DownloadOriginalToDfJson", "Weenie", new {id = weenie.WeenieClassId})">Original, DF JSON</a></li>
                                            <!-- <li><a href="#" title="Send to DF Server, coming soon">Original, Send ...</a></li> -->
                                            @if (weenie.HasSandboxChange)
                                            {
                                                <li><a href="@Url.Action("DownloadSandboxToPhatJson", "Weenie", new {id = weenie.WeenieClassId})">Sandbox, GDLE JSON</a></li>
                                                <li><a href="@Url.Action("DownloadSandboxToDfJson", "Weenie", new {id = weenie.WeenieClassId})">Sandbox, DF JSON</a></li>
                                                <!-- <li><a href="#" title="Send to DF Server, coming soon">Sandbox, Send ...</a></li> -->
                                            }
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info">
               Your search yielded no results.
            </div>
        }
    }
}

